  <footer id='page-footer' class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About the project</h5>
          <p class="grey-text text-lighten-4">Some words about the project</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Shortcuts</h5>
          <ul>
            <li><a class="white-text" href="LICENSES">Licenses for website theme</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      Developed by <a class="purple-text text-lighten-3" href="#">!!!</a>. Supported by <a class="purple-text text-lighten-3" href="#">!!!</a>. Powered by <a class="purple-text text-lighten-3" href="#">!!!</a>.
      </div><br>
      <div class="container center">
      <!-- Attribution link must be displayed for the license compliance -->
      Website design template created by <a class="purple-text text-lighten-3" href="https://68.00-59.com/">68 | 00:59</a> team.
      <!-- Attribution link must be displayed for the license compliance -->
      </div>
    </div>
  </footer>
